%YAML 1.2
---
#Set up logging
- !ConfigLogging
  stem: {{testname}}
  level: TIMING
#Add modules folder to python path
- !PythonPathRequest
  folders: [modules]
#Folder Structure
- !UpdateFolderStructure
  OwnSolutionFile: [solutions, 0, 1, 2]
  SiblingSolutionFile: [solutions, 0]
  postprocfile: [postproc, 0]
- !DumpFolderStructure
  name: {{testname}}.dump_folder_structure
  outfile: !SiblingSolutionFile folder_structure.yaml
{#For each job#}
{% for job in joblist.itertuples() %}
{%set id=job.job_id%}
#id={{id}}
{%if job.sep_buffer > 0.5 %}
{% set mcar4=0.5%}
{% else %}
{% set mcar4=0.25%}
{% endif %}
#Mesh Generation
- !TemplateFileRequest
  name: {{testname}}.geo.{{id}}
  tmplfile: !geotemplate crowder_template.geo.jinja2
  outfile: !geofile {{testname}}-{{id}}.geo
  modules:
    - !modulefile mesh.py
  methods:
    get_template_input: mesh_get_template_input
  data:
    lattice:
      id_start: 2000
      incrad: {{job.incrad}}
      sep_buffer: {{job.sep_buffer}}
    inclusionlist:
      - [1001,{{job.x1000}},{{job.y1000}},{{job.z1000}},{{job.r1000}}]
    pore_radius: {{job.pore_radius}}
    RevW: {{job.RevW}}
    RevH: {{job.RevH}}
    RevD: {{job.RevD}}
    pore_length: {{job.pore_length}}
    mscale: 1.0
    mcar1: 5.0
    mcar2: 2.0
    mcar3: 1.0
    mcar4: {{mcar4}}
  postcommands:
    - ['save_csv', {attrpath: inclusions_df, outfpath: !OwnSolutionFile inclusionlist.csv}]
- !GeoToHDF5Request
  name: {{testname}}.mesh.{{id}}
  mesh_stem: {{testname}}-{{id}}
#Solve the Linearized Poisson-Boltzmann Equation
- !MPIRunRequest
  name: {{testname}}.lpb.{{id}}.mpi
  numproc: {{numproc}}
  child:
    !LPBSimulator
    name: {{testname}}.lpb.{{id}}.solve
    modules:
      - !modulefile model.py
    methods:
      assign_crowder_potential: assign_crowder_potential
    mesh: !mesh_hdf5file {{testname}}-{{id}}.hdf5
    meshmeta: !meshmetafile {{testname}}-{{id}}.yaml
    solver_parameters:
      linear_solver: gmres
      preconditioner: amg
    conditions:
      elementorder: 2
      kappa: {{job.kappa}}
      dirichlet: &potential_dirichlet_{{id}}
        9: 0.0
        10: 0.0
        5: {{job.vpore}}
        1001: {{job.v1000}}
{% if job.crowder_potential is not none %}
    loaddata:
      - [load_csv, {infpath: !SiblingSolutionFile geo/{{id}}/inclusionlist.csv, attrpath: inclusions_df}]
      - [assign_crowder_potential, {potential: {{job.crowder_potential}}, df_attrpath: inclusions_df}]
{% endif %}
    dataextraction:
      - [writefield, {outfpath: !OwnSolutionFile potential.hdf5, outname: potential}]
      - - reportvalues
        - outfpath: !OwnSolutionFile lpb_solvetime.yaml
          mapping:
            elapsed_time: sim_timer.delta_str
- !LPBSimulator
  name: {{testname}}.lpb.{{id}}.extract
  skipsolve: True
  mesh: !mesh_hdf5file {{testname}}-{{id}}.hdf5
  meshmeta: !meshmetafile {{testname}}-{{id}}.yaml
  conditions:
    elementorder: 2
    kappa: {{job.kappa}}
    dirichlet: *potential_dirichlet_{{id}}
  loaddata:
    - [loadfield, {attrpath: soln, infpath: !OwnSolutionFile potential.hdf5, fieldtag: potential}]
  dataextraction:
    - [writefield, {outfpath: !OwnSolutionFile potential.pvd}]
#Solve the Smoluchowski Equation and extract the data
- !MPIRunRequest
  name: {{testname}}.smol.{{id}}.mpi
  numproc: {{numproc}}
  child:
    !SUSimulator
    name: {{testname}}.smol.{{id}}.solve
    mesh: !mesh_hdf5file {{testname}}-{{id}}.hdf5
    meshmeta: !meshmetafile {{testname}}-{{id}}.yaml
    solver_parameters:
      linear_solver: gmres
      preconditioner: amg
    metadata:
      sep_buffer: {{job.sep_buffer}}
      v1000: {{job.v1000}}
      pore_conc_A: {{job.pore_conc_A}}
      pore_conc_B: {{job.pore_conc_B}}
    loaddata:
      - [loadfield, {attrpath: potential, infpath: !SiblingSolutionFile lpb/{{id}}/potential.hdf5, fieldtag: potential}]
{% if loop.index0==0 %}
      - &subdomain_storage [store_module_contents, {outattr: subdomain_class, modpath: !modulefile partial_reactivity.py, getname: SphericalSectorBoundary}]
{% else %}
      - *subdomain_storage
{% endif %}
      - &subdomain_1_{{id}} 
        - subdomain_to_meshfunction
        - meshfunc_value: 1000
          attr_class: subdomain_class
          attr_meshfunc: meshinfo.facets
          init_kwargs:
            cen: [{{job.x1000}},{{job.y1000}},{{job.z1000}}]
            rad: {{job.r1000}}
            areafrac: {{job.areafrac1000}}
            refpt: {{job.refpt1000}}
            tol: {{job.tol1000}}
    conditions: &smol_conditions_{{id}}
      elementorder: 2
      dirichlet:
{%set pore_conc_A = "null" if job.pore_conc_A is not number or job.pore_conc_A|string =="nan" else job.pore_conc_A%}
{%set pore_conc_B = "null" if job.pore_conc_B is not number or job.pore_conc_B|string =="nan" else job.pore_conc_B%}
        5: [{{pore_conc_A}}, {{pore_conc_B}}]
        9: [6.02214e-4, 0.0]
        10: [0.0, 0.0]
        1000: [0.0, null]
      species:
        - {symbol: A, z: {{job.zA}}, D: 1.0}
        - {symbol: B, z: {{job.zB}}, D: 1.0}
      reactive:
        1000: [A, B]
      beta: 38.94135
      potential_dirichlet:
        9: 0.0
        10: 0.0
        5: {{job.vpore}}
        1000: {{job.v1000}}
        1001: {{job.v1000}}
    dataextraction:
      - [writefield, {outfpath: !OwnSolutionFile soln.hdf5, attrpath: soln, outname: soln}]
      - [transform_back, {}]
      - [calcflux, {solnattr: solnlist, idx: 0, attrpath: flux_A}]
      - [calcflux, {solnattr: solnlist, idx: 1, attrpath: flux_B}]
      - [writefield, {outfpath: !OwnSolutionFile conc_A.hdf5, attrpath: clist, idx: 0, outname: conc_A}]
      - [writefield, {outfpath: !OwnSolutionFile conc_B.hdf5, attrpath: clist, idx: 1, outname: conc_B}]
      - [writefield, {outfpath: !OwnSolutionFile flux_A.hdf5, attrpath: flux_A, outname: flux_A}]
      - [writefield, {outfpath: !OwnSolutionFile flux_B.hdf5, attrpath: flux_B, outname: flux_B}]
      - - reportvalues
        - outfpath: !OwnSolutionFile smol_solvetime.yaml
          mapping:
            elapsed_time: sim_timer.delta_str
- !SUSimulator
  name: {{testname}}.smol.{{id}}.extract
  mesh: !mesh_hdf5file {{testname}}-{{id}}.hdf5
  meshmeta: !meshmetafile {{testname}}-{{id}}.yaml
  skipsolve: True
  metadata:
    sep_buffer: {{job.sep_buffer}}
    crowder_potential: {{job.crowder_potential}}
    areafrac_1000: {{job.areafrac1000}}
    v1000: {{job.v1000}}
    pore_conc_A: {{job.pore_conc_A}}
    pore_conc_B: {{job.pore_conc_B}}
  conditions: *smol_conditions_{{id}}
  loaddata:
    - *subdomain_storage
    - *subdomain_1_{{id}}
    - [loadfield, {attrpath: potential, infpath: !SiblingSolutionFile lpb/{{id}}/potential.hdf5, fieldtag: potential}]
    - [loadfield, {attrpath: soln, infpath: !OwnSolutionFile soln.hdf5, fieldtag: soln}]
{% for spec in ['A','B'] %}
    - [newfunction, {attrpath: conc_{{spec}}, spaceattr: V_scalar, funcname: conc_{{spec -}} }]
    - [newfunction, {attrpath: flux_{{spec}}, spaceattr: V_vec, funcname: flux_A}]
    - [loadfield, {attrpath: conc_{{spec}}, infpath: !OwnSolutionFile conc_{{spec}}.hdf5, fieldtag: conc_{{spec -}} }]
    - [loadfield, {attrpath: flux_{{spec}}, infpath: !OwnSolutionFile flux_{{spec}}.hdf5, fieldtag: flux_{{spec -}} }]
{% endfor %}
  dataextraction:
    - [facet_area, {pfacet: 1000, attrpath: area_1000}]
    - [facet_area, {pfacet: 1100, attrpath: area_1100}]
    - [facet_area, {pfacet: 1001, attrpath: area_1001}]
    - [facet_area, {pfacet: 1101, attrpath: area_1101}]
{% for spec in ['A','B'] %}
    #- [writefield, {outfpath: !OwnSolutionFile conc_{{sepec}}.pvd, attrpath: conc_{{spec -}} }]
    #- [writefield, {outfpath: !OwnSolutionFile flux_{{spec}}.pvd, attrpath: flux_{{spec -}} }]
    - [fluxintegral, {fluxattr: flux_{{spec}}, pfacet: 30, attrpath: totflux_{{spec}}_pore, internal: True, fluxsign: '-'}]
    - [fluxintegral, {fluxattr: flux_{{spec}}, pfacet: 1000, attrpath: totflux_{{spec}}_1000}]
{% endfor %}
    - [domain_volume, {attrpath: volume_domain_total}]
    - [cell_volume, {pcell: 1, attrpath: volume_bottom}]
    - [cell_volume, {pcell: 2, attrpath: volume_top}]
    - - reportvalues
      - outfpath: !OwnSolutionFile info.yaml
{% if loop.index0==0 %}
        mapping: &output_mapping
          vol_domain_fenics: volume_domain_total
          vol_bottom_fenics: volume_bottom
          vol_top_fenics: volume_top
          vol_inclusion_total: meshinfo.metadata.volumes.inclusion_total
          vol_each_reservoir: meshinfo.metadata.volumes.each_reservoir
          vol_pore_gross: meshinfo.metadata.volumes.pore_gross
          vol_domain_gross: meshinfo.metadata.volumes.domain_gross
          vol_domain_net: meshinfo.metadata.volumes.domain_net
          vol_pore_net: meshinfo.metadata.volumes.pore_net
          free_vol_fraction: meshinfo.metadata.free_vol_fraction
          inclusion_count: meshinfo.metadata.inclusion_count
          sep_buffer: metadata.sep_buffer
          crowder_potential: metadata.crowder_potential
          areafrac_1000: metadata.areafrac_1000
          v1000: metadata.v1000
          area_1000: area_1000
          area_1001: area_1001
          totflux_A_pore: totflux_A_pore
          totflux_B_pore: totflux_B_pore
          totflux_A_1000: totflux_A_1000
          totflux_B_1000: totflux_B_1000
          elapsed_time: sim_timer.delta_str
          D_bulk_A: [conditions, species, 0, D]
          D_bulk_B: [conditions, species, 1, D]
          bulk_conc_A: [conditions, dirichlet, 9, 0]
          pore_conc_A: metadata.pore_conc_A
          pore_conc_B: metadata.pore_conc_B
{%else%}
        mapping: *output_mapping
{%endif%}
    - [new_odict, {dpath: plots}]
    - [line_profile, {startloc: [X0,Y0,nZ5], endloc: [X0,Y0,Z5], num: 1000, indep: 2, plotpath: plots.CL_A, label: 'concentration of A along centerline', attrpath: conc_A}]
    - [line_profile, {startloc: [X0,Y0,nZ5], endloc: [X0,Y0,Z5], num: 1000, indep: 2, plotpath: plots.CL_B, label: 'concentration of B along centerline', attrpath: conc_B}]
    - [save_pickle, {attrpath: plots, outfpath: !OwnSolutionFile profiles.pkl}]
{%endfor%}{#for job#}

# Collection
- !RawCollectionRequest
  name: {{testname}}.collection
  outpath: !postprocfile results.pkl
  calculations:
    - [save_csv, {attrpath: df, outfpath: !postprocfile results.csv}]
  definitions:
    - mapping:
        sep_buffer: sep_buffer
        crowder_potential: crowder_potential
        v1000: v1000
        areafrac_1000: areafrac_1000
        vol_domain_fenics: vol_domain_fenics
        #vol_bottom_fenics: vol_bottom_fenics
        #vol_top_fenics: vol_top_fenics
        #vol_inclusion_total: vol_inclusion_total
        #vol_each_reservoir: vol_each_reservoir
        #vol_pore_gross: vol_pore_gross
        #vol_domain_gross: vol_domain_gross
        vol_domain_net: vol_domain_net
        vol_pore_net: vol_pore_net
        free_vol_fraction: free_vol_fraction
        inclusion_count: inclusion_count
        area_1000: area_1000
        area_1001: area_1001
        totflux_A_1000: totflux_A_1000
        totflux_A_pore: totflux_A_pore
        totflux_B_1000: totflux_B_1000
        totflux_B_pore: totflux_B_pore
        pore_conc_A: pore_conc_A
        pore_conc_B: pore_conc_B
      file_list:
{% for job in joblist.itertuples() %}
        - !DataFile solutions/{{testname}}/smol/{{job.job_id}}/info.yaml
{% endfor %}{#for job#}
