#Calculate water density
python3 ../../../../scripts/calc_water_density.py 270_production.tpr 270_production.xtc \
  830_density.dx 1.0 \
  --multitraj 280_extend01.xtc 290_extend02.xtc 300_extend03.xtc \
  >830_density.log 2>&1
